<p-toast></p-toast>
<div class="capacity-planner">
  <!-- Capacity Plan Section -->
  <div class="section-header">
    <span class="section-title">Capacity Plan</span>
    <button
      pButton
      type="button"
      icon="pi pi-download"
      class="download-btn"
    ></button>
  </div>
  <div class="plan-table-wrapper" *ngIf="rows$ | async as rows">
    <table class="plan-table">
      <thead>
        <tr>
          <th class="row-label">&nbsp;</th>
          <th class="total-col">Total</th>
          <th *ngFor="let row of rowsLocal; let i = index">
            {{ row.month }}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr class="forecast-row">
          <td class="row-label forecast-label">Forecasted Capacity</td>
          <td class="total-col">{{ totalForecastedCapacity }}</td>
          <td *ngFor="let row of rowsLocal">
            <input
              type="number"
              [ngModel]="row.forecastedCapacity"
              [readonly]="true"
            />
          </td>
        </tr>
        <tr class="rtb-row">
          <td class="row-label rtb-label">RTB</td>
          <td class="total-col">{{ totalRtb }}</td>
          <td *ngFor="let row of rowsLocal; let i = index">
            <input
              #rtbInput
              type="number"
              inputmode="numeric"
              min="0"
              [max]="
                rowsLocal[i].forecastedCapacity - rowsLocal[i].capacityRequested
              "
              [value]="rowsLocal[i].rtb"
              (input)="onRtbInput(i, rtbInput)"
              tabindex="0"
            />
          </td>
        </tr>
        <tr class="ctb-row">
          <td class="row-label ctb-label">Capacity Requested by (CTB)</td>
          <td class="total-col">{{ totalCapacityRequested }}</td>
          <td *ngFor="let row of rowsLocal; let i = index">
            <input
              #ctbInput
              type="number"
              inputmode="numeric"
              min="0"
              [max]="rowsLocal[i].forecastedCapacity - rowsLocal[i].rtb"
              [value]="rowsLocal[i].capacityRequested"
              (input)="onCtbInput(i, ctbInput)"
              tabindex="0"
            />
          </td>
        </tr>
        <tr class="remaining-row">
          <td class="row-label remaining-label">Remaining Capacity</td>
          <td class="total-col">{{ totalRemainingCapacity }}</td>
          <td *ngFor="let row of rowsLocal">{{ row.remainingCapacity }}</td>
        </tr>
        <tr class="deferred-row">
          <td class="row-label deferred-label">Deferred/New</td>
          <td class="total-col">{{ totalDeferredNew }}</td>
          <td *ngFor="let row of rowsLocal; let i = index">
            <input
              type="number"
              [(ngModel)]="rowsLocal[i].deferredNew"
              tabindex="0"
            />
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Capacity Requested by (CTB) Section -->
  <div class="section-header ctb-section">
    <span class="section-title">Capacity Requested by (CTB)</span>
    <div class="ctb-toolbar">
      <input
        pInputText
        [ngModel]="(search$ | async) ?? ''"
        (ngModelChange)="setSearch($event)"
        placeholder="Search CTB..."
      />
      <button
        pButton
        type="button"
        label="Add Capacity Allocation"
        class="add-btn"
        (click)="addCapacityRow()"
      ></button>
    </div>
  </div>
  <!-- Placeholder for CTB table, to be implemented -->
  <div class="ctb-table-placeholder">(CTB table goes here)</div>
</div>
